@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --text-color:#ffffff;
    --main-color:rgb(20, 24, 81);
}
section{
    padding: 50px 10%;
}

*::selection{
    color: #fff;
   background:  rgb(20, 24, 81);
}

header{
    position: fixed;
    width: 100%;
    top:0;
    right:0;
    z-index: 1000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    transition: 0.2s;
}
header.active {
    background: rgb(20, 24, 81);
    box-shadow: 0 0 4px rgb(14 55 54/ 15%);
}
header.active .logo {
    color:white;
}
header.active .navbar a {
    color: white;
}
header.active .navbar i {
    color: white;
}
header.active .header-icon a {
        color: white;
    }

.logo{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color:black;
}
.logo img{
    width: 55px;
    margin-right: 10px;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    color: black;
}
.navbar a:hover{
    color:  rgb(255, 255, 255);
    background: rgb(20, 24, 81);
    border-radius: 4px;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
}
.header-icon{
    font-size: 1rem;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    column-gap: 0.8rem;
    align-items: center;
}
.header-icon .bx{
    color: white;
    padding: 7px;
    background-color:rgb(20, 24, 81); 
    border-radius: 0.4rem;
}
.header-icon a{
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    color: black;
}
.header-icon i{
    position: relative;
}
.search-box{
    position: absolute;
    top: 110%;
    right: -100%;
    background:rgb(20, 24, 81);  
    width: 280px;
    box-shadow: black;
}
.search-box input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    padding: 20px;
    color: rgb(20, 24, 81); 
}
.search-box input ::placeholder{
    font-size: 1rem;
    font-weight: 500;
}
.search-box.active {
    right: 1rem;
    transition: 0.2s all linear;
}
.home{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/big\ bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
.home-text h1{
    font-size: 2.7rem;
}
.home-text p{
    font-size: 0.938rem;
    margin: 0.4rem 0 1.8rem;
}
.home-text span{
    color: rgb(20, 24, 81);
}
.btn {
    padding:10px 14px;
    background:  rgb(20, 24, 81);
    color: #fff;
    border-radius: 0.3rem;
    font-size: 14px;
}
.btn:hover{
    background:  rgb(28, 34, 116);
}
.heading{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color:black;
    text-transform: uppercase;
}
.shop-container,
.new-container,
.customer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.box{
    width: 100%;
    position: relative;
    box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.1);
    border-radius: 44px 4px 4px 4px;
}
.box .box-img{
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 44px 4px 0 0;
}
.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.box .box-img img:hover {
transform: scale(1.1);
transition: 0.5s;
}
.title-price{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.title-price h3{
    font-size: 1rem;
    font-weight: 600;
}
.box span{
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 12px;
    color:rgb(20, 24, 81);
}
.stars .bx{
    color: rgb(20, 24, 81);
}
.box .bx-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 7px;
    font-size: 20px;
    color: #fff;
    border-radius: 4px 0 4px 0;
    background-color: rgb(20, 24, 81);
}
.box .bx-cart:hover{
    background:  rgb(180, 185, 239);
}
.new-container .box{
    border-radius: 4px;
}
.top-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    justify-content: space-between;
    gap:1rem;
    margin-top: 2rem;
}
.top-container img{
    width: 100px;
    filter: grayscale(1);
}
.top-container img:hover{
    width: 100px;
    filter: grayscale(0);
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.about-img img{
    width: 70%;
    border-radius: 10px;
    object-fit: contain;
}
.about-text span{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color:rgb(20, 24, 81) ;
}
.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}
.brands-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    justify-content: space-between;
    gap:1rem;
    margin-top: 2rem;
}
.brands-container img{
    width: 100px;
    filter: grayscale(1);
}
.brands-container img:hover{
    width: 100px;
    filter: grayscale(0);
}
.footer{
    background: rgb(20, 24, 81);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1rem;
}
.footer-box img {
        width: 45px;
        align-items: center;
}
.footer-box h2{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
}
  .footer-box p{
    color: white;
    font-size: 00.938rem;
    margin-bottom: 15px;
  }
   .footer-box h3{
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
   }
   .footer-box li a{
    color: white;
   }
   .footer-box li a:hover{
    color: rgb(75, 79, 143);
   }
   .contact-info {
    display: flex;
    flex-direction: column;
   }
   .contact-info p{
    color: white;
   }
   .copyright{
    background: rgb(20, 24, 81);;
    padding: 20px;
    text-align: center;
    color: white;
   }
   .customer-container .box{
    flex: 1 1 16rem;
    text-align: center;
    box-shadow: 0px 4px 4px rgb(14 55 54/ 15%);
    padding: 20px;
    border-radius: 0.5rem;
   }
   .box img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
   }
   .box .bx{
    color: rgb(255, 255, 255);
    margin-top: 0.5rem;
   }
   .box p{
    margin: 0.5rem 0 1rem;
   }
   .box h2{
    font-size: 1.2rem;
    color: rgb(20, 24, 81);
    letter-spacing: 1px;
   }
   .contact-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
   }
   .contact-info{
    flex: 1 1 20rem;
   }
   .contact-form{
    display: flex;
    justify-content: right;
   }
   .contact-info h2{
    font-size: 1.7rem;
    color: rgb(20, 24, 81);
   }
   .contact-info p{
    margin: 0.5rem 0 1rem;
   }
   .contact-info i{
    margin: 0.5rem 0 1rem;
   }
   .contact-form form{
    width: 80%;
    flex-direction: column;
   }
   form input,
   textarea{
    width: 100%;
    padding: 17px;
    border-radius: 0.5rem;
    outline: none;
    margin-bottom: 1rem;
    border: 2px solid rgb(20, 24, 81);
    box-shadow: 0 4px 4px 2px rgb(14 55 54/ 15%);
   }
   form input ::placeholder,
   textarea ::placeholder {
color:rgb(20, 24, 81) ;
   }
   form textarea{
    resize: none;
    height: 150px;
   }
form button{
    padding: 15px;
    background-color: rgb(20, 24, 81);;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px; 
}
form button :hover{
    color: rgb(28, 34, 116);;
}
.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}
.s-box1{
    text-align: center;
}
.s-box1 img{
    width: 110px;
}
.s-box1 h3{
    margin: 4px 0 10px;
}
.s-box2{
    text-align: center;
}
.s-box2 img{
    width: 90px;
}
.s-box2 h3{
    margin: 4px 0 10px;
}
.s-box3{
    text-align: center;
}
.s-box3 img{
    width: 60px;
}
.s-box3 h3{
    margin: 4px 0 10px;
}
.all{
    justify-content: space-between;
    margin: 100px auto 50px;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid rgb(28, 34, 116) ;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover {
    color: white;
    background-color:  rgb(28, 34, 116);
}
.single{
    margin-top: 80px;
}
.single .col2 img{
padding: 0;
}
.single.col2{
    padding: 20px;
}
.single h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid rgb(28, 34, 116);
}
input:focus{
    outline: none;
}